:root{
  --azulFuerte: #415a77;
  --azulClaro: #778da9;
  --gris: #e0e1dd;
  --verde: #01C38D;
  --azul: #132D46;
  --grs: #696E79;

}

.navbar{
  background-color: var(--azul);
}

a{
  color: white;
}

a:hover{
  color: var(--verde);
}

.btn-nav:hover{
  color: var(--verde);
}

.icon-bars{
  color: white;
}

.icon-bars:hover{
  color: var(--verde);
}

.btn-contact{
  background-color: var(--verde);
  border-color: var(--verde);
  border-style: none;
  color: white;
  padding: .375rem .75rem;
  border-radius: .25rem;
}

.btn-contact:hover{
  background-color: #white;
  border-color: #1a936f;
}

.btn-contact:active{
  background-color: #457b9d;
}

/* About */

#about{

}

.header-about{
  color: var(--verde);
}

.about-content{
  margin: 2rem;
}

/* skills */

#skills{
  background-color: #457b9d;
}

.skills-content{
  margin: 0 15px;
  padding: 2rem;
  color: var(--gris);
}

/* #skills */
